* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 6.25%;
  font-family: "Mulish", sans-serif;

  --colorBaseWhite: hsl(0, 0%, 100%);
  --colorBaseWhiteOpc: hsla(0, 0%, 100%, 0.2);
  --colorBaseBlue300: hsl(195, 91%, 25%);
  --colorBaseGray100: hsl(196, 100%, 98%);
  --colorBaseGray700: hsl(240, 5%, 7%);
  --colorBaseGray900: hsl(240, 6%, 13%);
}

#app {
  margin: auto;
  width: 430rem;
}

header {
  padding: 12rem 28rem;
  background-color: var(--colorBaseBlue300);
}

header nav {
  display: flex;
  gap: 26rem;
  align-items: center;
}

.circleImg {
  display: grid;
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  background-color: var(--colorBaseGray100);
}

.circleImg img {
  place-self: center;
}

#profileImg {
  width: 40rem;
  border-radius: 50%;
}

header form {
  flex: 1;
}

header form input {
  width: 100%;
  padding: 12rem 14rem;
  font-family: 'Mulish';
  background-color: var(--colorBaseWhiteOpc);
  border: none;
  border-radius: 4rem;
  color: var(--colorBaseWhite);
}

header form input::placeholder {
  opacity: 0.8;
  color: var(--colorBaseWhite);
}

main {
  display: flex;
  flex-direction: column;
  gap: 32rem;
}

main section {
  padding: 0 22rem 0 26rem;
}

main .mainImg {
  width: 100%;
  object-fit: cover;
}

main h1 {
  font-weight: 700;
  font-size: 24rem;
  line-height: 38rem;

  color: var(--colorBaseGray900);
}

main h2 {
  font-weight: 700;
  font-size: 18rem;
  line-height: 28rem;

  color: var(--colorBaseGray900);
}

main .sectionOne p {
  font-weight: 400;
  font-size: 16rem;
  line-height: 26rem;

  color: var(--colorBaseGray700);
}

.icon {
  display: flex;
  gap: 12rem;
  margin: 8rem 0 32rem;
}

.titleIcon .circleImg {
  background-color: var(--colorBaseBlue300);
}

.sectionTwo {
  display: flex;
  flex-direction: column;
  gap: 32rem;
}

.sectionTwo figure {
  display: grid;
  grid-template-areas: "A B";
  gap: 16rem;
  place-items: center;
}

.sectionTwo figcaption p {
  margin-top: 12rem;
  font-weight: 400;
  font-size: 14rem;
  line-height: 22rem;

  color: var(--colorBaseGray700);
}

footer {
  background-color: var(--colorBaseBlue300);
  padding: 16rem;
  text-align: center;
  font-weight: 600;
  font-size: 16rem;
  line-height: 20rem;
  margin-top: 40rem;

  color: var(--colorBaseWhite);
}

/* Desktop */
@media (min-width: 780px) {
  #app {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    width: 100vw;
    height: 100vh;
  }

  .container {
    padding: 16rem 108rem;
  }

  main {
    display: grid;
    grid-template-areas:
      "img sectionTwo"
      "sectionOne sectionTwo";
    grid-template-columns: 2fr 1fr;
    margin-top: 28rem;
    overflow-y: scroll;
  }

  main section {
    padding: 0;
  }

  main .mainImg {
    grid-area: img;
    border-radius: 8px;
  }

  main .sectionOne {
    grid-area: sectionOne;
  }

  main .sectionTwo {
    grid-area: sectionTwo;
  }

  footer {
    margin-top: 28rem;
  }

  /* Animation and transition */

  figure img {
    transition: all 200ms ease-in;
    animation: appear 500ms ease-out var(--delay);
  }

  figure img:hover {
    filter: brightness(1.1);
    transform: scale(1.1);
  }

  .circleImg {
    transition: all 200ms ease-in;
  }

  .circleImg:hover {
    filter: brightness(1.1);
    transform: scale(1.2);
  }

  .icon .circleImg img {
    transition: all 100ms;
  }

  .icon .circleImg img:active {
    transform: scale(1.5);
  }

  header {
    --startY: -100%;
    animation: move 300ms;
  }

  footer {
    --startY: 100%;
    animation: move 300ms;
  }

  @keyframes appear {
    0% {
      opacity: 0.2;
      transform: scale(0.7);
    }

    50% {
      transform: scale(1.2)
    }
  }

  @keyframes move {
    from {
      transform: translateY(var(--startY));
    }
  }
}
